
// backgrounds
$header-background: #d3135a;
$body-background: #e6e6e6;
$footer-background: #666;
$navigation-background: #4d4d4d;


// text
$title-color: #000;
$paragraph-color: #4d4d4d;
$white-color: #fff;
$link-color: #fff;
$link-color-inverse: #000;
$menu-link-hover: #ccc;
$footer-color: #b3b3b3;
