$breakpoint-tablet: 800px;


// font sizes
$base-rem: 14px;
$large-title: 2.7rem;
$large-title-mobile: 2.2rem;
$standard-title: 1.7rem;
$navigation-large: 1.4rem;

$logo-header: 4.2rem;
$logo-header-mobile: 3.6rem;
$logo-footer: 2.2rem;


// padding sizes
$base-padding: 1.4rem;
$base-margin: 1.4rem;
