.article{
  text-align: left;
  padding: $base-padding;

  &:last-child{
    margin-bottom: 0;
  }

  &_main{
    margin-bottom: $base-padding;
  }

  &_main, &_secondary{
    background: #fff;
  }

  &_tretiary{
    background: #ccc;
  }

  &__title{
    font-size: $standard-title;
  }

  &__title, &__title_main{
    font-family: $article-font;
    margin-top: 0;
    margin-bottom: $base-margin;
    color: $title-color;
  }

  &__paragraph{
    margin: 0;
  }

  &__listlink{
    display: block;
    text-decoration: none;
    width: 100%;
    border-bottom: 1px solid grey;
    padding: 5px 0;
  }
}

li:last-child .article__listlink{
  border-bottom: 0 none;
}

@media (max-width: $breakpoint-tablet) {

  .article{
    &__title{
      &_main{
        font-size: $large-title-mobile;
      }
    }

    &_secondary{
      margin-bottom: $base-padding;
    }
  }
}

@media (min-width: $breakpoint-tablet) {

  .article{
    &__title{
      &_main{
        font-size: $large-title;
      }
    }

    &_secondary{
      flex-basis: 0;
      flex-grow: 1;
    }

    &_tretiary{
      columns: 3;
    }
  }

  .article_secondary + .article_secondary{
    margin-left: $base-margin;
  }

}
