.header{
  background: $header-background;
  padding: $base-padding 0;

  &__logo{
    color: #ffc2dd;
    align-self: flex-end;
  }

  &__link{
    color: $link-color-inverse;
    text-decoration: none;

    &:hover{
      color: $link-color;
    }
  }
}

.logo{
  text-decoration: none;
  white-space: nowrap;
  font-weight: bold;
}

@media (max-width: $breakpoint-tablet) {

  .header{
    &__logo{
      font-size: $logo-header-mobile;
    }
  }

  .header__link{
    height: 40px;
    line-height: 40px;
  }

  .header__linklist .linklist__item{
    display: block;
  }
}

@media (min-width: $breakpoint-tablet) {

  .header{

    &__logo{
      padding-top: 37px;
      font-size: $logo-header;
      line-height: $logo-header * 0.8;
    }
    &__linklist{
      display: flex;
      justify-content: flex-end;
    }
  }
}
