.header{
  background: $header-background;
  padding: $base-padding 0;

  &__logo{
    padding-top: 37px;
    font-size: $logo-header;
    line-height: $logo-header * 0.8;
    color: #ffc2dd;
  }

  &__linklist{
    display: flex;
    justify-content: flex-end;
  }

  &__link{
    color: $link-color-inverse;
    text-decoration: none;

    &:hover{
      color: $link-color;
    }
  }
}

.logo{
  text-decoration: none;
  align-self: flex-end;
  white-space: nowrap;
  font-weight: bold;
}

@media (max-width: $breakpoint-tablet) {
  .header__link{
    height: 40px;
    line-height: 40px;
  }

  .header__linklist .linklist__item{
    display: block;
  }
}
